section#portfolio.section.portfolio
    // title
    .title-wrapper
        p.smaller-title Showcasing some of my projects
        h2.title
            span.subtitle Portfolio
    // progressbar
    .wrapper
        .progressbar
    // end of title
    // portfolio center
    .section-center.portfolio-center
        // projects
        ul#autoWidth.cs-hidden
            each project in projects 
                li.item
                    // single art
                    article.portfolio-card
                        // img container
                        img.portfolio-img(src=`./img/${project.image}`, alt=`${project.name}`)
                        // <p class="art-date">January 3rd, 2021</p>
                        // art footer
                        .portfolio-footer
                            h4.portfolio-title= project.name
                            // art info
                            p= project.languages
                        .project-link
                            a.btn-primary.btn-project(href=`${project.website}`, target="_blank") View Project
                    // end of single art
            
            
        // end of projects
    // end of portfolio-center
    // link to github
    .portfolio-link
        a.btn-primary(href="https://github.com/muyeenulislam", target="_blank") View Source Codes on Github
